<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Examples</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
  </head>
  <body>
    <div id="box">
      <input type="text" v-model="mytext" />
      {{mytext}}
      <textarea v-model="mytext"></textarea>
      <br />
      <!-- 单选框绑定的是一个布尔值 -->
      <input type="checkbox" v-model="isChecked" />记录用户名
      <br />
      <!-- 将勾选上的数据传给后端，保存在数据库中 -->
      <p>
        你喜欢的运动？
        <!-- 多选框绑定的是一个数组 需要设置value值 后端需要直接将vm.checkgroup的值传过去-->
        <input type="checkbox" v-model="checkgroup" value="游泳" />游泳
        <input type="checkbox" v-model="checkgroup" value="滑冰" />滑冰
        <input type="checkbox" v-model="checkgroup" value="长跑" />长跑
      </p>
      {{checkgroup}}

      <p>
        <!-- 单选 绑定一个字符串 后端需要的话 直接将vm.picked的值传过去 -->
        你最喜欢的开发语言？
        <input type="radio" v-model="picked" value="php" />php
        <input type="radio" v-model="picked" value="js" />js
        <input type="radio" v-model="picked" value="java" />java
      </p>

      {{picked}}
    </div>

    <!-- <div v-model=""></div> -->

    <script type="text/javascript">
      var vm = new Vue({
        el: "#box",
        data: {
          mytext: "",
          isChecked: true,
          checkgroup: [],
          picked: "js",
        },
      })
    </script>
  </body>
</html>
