<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Examples</title>
    <meta name="keywords" content="" />
    <link href="" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
  </head>
  <body>
    <div id="box">
      <!-- @input只要value值发生改变 就会触发 v-model双向数据绑定拿到input框的值-->
      <input type="text" @input="handleInput()" v-model="mytext" />
      <!-- <input type="text" @input="handleInput" /> -->
      <ul>
        <li v-for="data in datalist">{{data}}</li>
      </ul>
    </div>

    <script type="text/javascript">
      //["aaa","bbb","ccc","ddd","add","cee","eee"]
      var vm = new Vue({
        el: "#box",
        data: {
          mytext: "",
          datalist: ["aaa", "bbb", "ccc", "ddd", "add", "cee", "eee"],
          list: ["aaa", "bbb", "ccc", "ddd", "add", "cee", "eee"],
        },
        methods: {
          handleInput() {
            console.log(this.mytext)
            // console.log("只要value改变，就会触发")
            //利用输入框的字符， 过滤出包含字段的元素 filter 过滤
            let newlist = this.list.filter(
              (item) => item.indexOf(this.mytext) > -1
            )
            // filter不会对原数据产生影响 需要用新数组替换原数组 但是这种方法有弊端 下次再触发handleInput事件的时候 是对新数组进行过滤 而不是在本来数组上进行过滤 可以需使用计算属性 目前的话是在声明一个数组list 每次在list上进行过滤
            this.datalist = newlist
            // 计算属性
          },
        },
      })
    </script>
  </body>
</html>
